[submodule "externals/spaCy"]
	path = external/spaCy
	url = https://github.com/explosion/spaCy.git
[submodule "externals/stanza"]
	path = external/stanza
	url = https://github.com/stanfordnlp/stanza.git
[submodule "externals/nltk"]
	path = external/nltk
	url = https://github.com/nltk/nltk.git
[submodule "externals/scikit-learn"]
	path = external/scikit-learn
	url = https://github.com/scikit-learn/scikit-learn.git
[submodule "externals/gensim"]
	path = external/gensim
	url = https://github.com/piskvorky/gensim.git
[submodule "externals/CoreNLP"]
	path = external/CoreNLP
	url = https://github.com/stanfordnlp/CoreNLP.git
[submodule "externals/BERTopic"]
	path = external/BERTopic
	url = https://github.com/MaartenGr/BERTopic.git
